@model IEnumerable<SessionModel.Meeting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>لیست</h2>


<table class="table table-hover table-bordered table-stripped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TItle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Explain)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TItle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Explain)
        </td>
        <td>
            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove" title="حذف"></span>
            </a>
            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil" title="ویرایش"></span>
            </a>
            <a href="@Url.Action("Index","Guests", new { id = item.Id ,MeetingName=item.TItle })" class="btn btn-warning btn-xs">
                <span class="glyphicon glyphicon-user" title="افزودن مهمان"></span>
            </a>
        </td>
    </tr>
}

</table>
<div>
    <p>
        <a href="@Url.Action("Create")" class="btn btn-success btn-sm pull-left">رکورد جدید</a>
    </p>
</div>
