@model IEnumerable<SessionModel.Meeting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>لیست</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success btn-sm pull-left">جلسه جدید</a>
</p>
<table class="table table-hover table-bordered table-stripped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TItle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Explain)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TItle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Explain)
        </td>
        <td>
            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove" title="حذف"></span>
            </a>
            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil" title="ویرایش"></span>
            </a>
            <a href="@Url.Action("ManageGuest", new { MeetingId = item.Id })" class="btn btn-warning btn-xs">
                <span class="glyphicon glyphicon-th-list" title="مشاهده ی مهمانان جلسه"></span>
            </a>
            @*<a href="@Url.Action("CreateGuest", new { MeetingId = item.Id })" class="btn btn-warning btn-xs">
                <span class="glyphicon glyphicon-th-list" title="افزودن مهمانان جلسه"></span>
            </a>*@
            <a href="@Url.Action("ManageAttachments", new { MeetingId = item.Id })" class="btn btn-warning btn-xs">
                <span class="glyphicon glyphicon-paperclip" title="مدیریت پیوست ها"></span>
            </a>
        </td>
    </tr>
}

</table>
