@model IEnumerable<SessionModel.Guest>

@{
    ViewBag.Title = "ManageGuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>لیست مهمانان جلسه <text>@ViewBag.MeetingTitle</text></h2>


<form id="Save" name="save" method="post">
    <table class="table table-hover table-bordered table-stripped">
        <tr>
            @*<th>
                    انتخاب
                </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalCode)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.MeetingId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.In_Out)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganId)
            </th>
            <th>
                عملیات
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    <input type="checkbox" name="Guest" value=@item.Id />*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalCode)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.MeetingId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.In_Out)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganId)
                </td>

                <td>

                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove" title="حذف"></span>
                    </a>
                   
                </td>
            </tr>

        }
    </table>



    <div>
        <p>
            <a href="@Url.Action("Index","Guests", new { MeetingId =ViewBag.MeetingId , MeetingName=ViewBag.MeetingName })" class="btn btn-success btn-sm pull-left">مهمان جدید</a>
        </p>
    </div>







</form>

